/*
** CONTENTS
**
** SETTINGS
** Html..........Scroll effect, overflow hidden.
** Body..........Font, BG Color, Text Color.
** Font..........SF Pro Light, SF Pro Thin.
**
** TOP
** Logo..........Logo SVG on top left.
** Desktop Menu..........Desktop Menu.
** Mobile Menu..........Mobile Menu.
** Mobile Menu Button..........Button to open or close the Mobile Menu
**
** BOTTOM
** Copyright..........Copyright Sign on bottom left.
** Github..........Github SVG on bottom right.
** LinkedIn..........LinkedIn SVG on bottom right.
**
** GRID
** Grid..........Grid dividing body into rows.
** Column..........Grid Column.
**
** POSTGRID
** PostGrid..........Grid for showing posts.
** Post..........Column in PostGrid showing (demo video, title, description, github link).
** PostCursor..........Custom Cusor for post showing post title.
**
** SKILLS
** SkillGrid..........Grid for showing skills (Coding hours, UX/UI Design, Frontend Development).
** SkillGridCol..........Column in SkillGrid showing (Coding hours, UX/UI Design).
** SkillGridRow..........Row in SkillGrid showing (Frontend Development).
** 
** ME
** Me h1..........Introduction.
** Me p..........Link to Tips form.
**
** INTRO
** Intro h1..........Introduction.
** Intro Button Group..........Button Group (View Resume, View Github).
**
** OUTRO
** Outro..........Outro.
** Outro Button Group..........Button Group (Get in touch, Connect on LinkedIn).
**
** CURSOR
** Cursor..........Custom Cursor.
**
** EFFECTS
** Jump..........Jump effect on scroll.
** Button Group follow cursor effect..........Button Group follow cursor effect for button in (Intro, Outro) section.
**
** HELPERS
** Helpers..........(h1,p, ul,..) styles.
**
*/

   /*------------------------------------*\
     #SETTINGS
   \*------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'SF Pro';
    background-color: #9f9fa1;
    color: #ffffff;
}

@font-face {
    font-family: 'SF Pro';
    src: url('../public/font/Hero-Light.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Thin';
    src: url('../public/font/Hero-Thin.otf') format('opentype');
    font-style: normal;
}

/* S */
@media screen and (max-width: 780px) {

    /*------------------------------------*\
      #TOP
    \*------------------------------------*/

    /* TOP Section (Logo, Menu) */

    .top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #9f9fa1;
        padding: 20px 20px 20px 40px;
        z-index: 100;
    }

    .top a {
        text-decoration: none;
    }


    /* Desktop Menu */

    .top ul {
        display: none;
    }


    /* Mobile Menu */

    .minTopUl {
        position: fixed;
        top: 0;
        right: -100vw;
        /* Off screen */
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background-color: #ffffff;
        color: #a9a9aa;
        transition: right 0.7s ease-in-out, border-radius 0.7s ease-in-out;
    }

    .minTopUl.show {
        right: 0;
        border-radius: 0;
    }

    .minTopUl ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20vw;
        height: 49vh;
    }


    .minTopUl ul li {
        display: flex;
        font-weight: 400;
        color: #a9a9aa;
        margin: 12.9px 0;
        width: 100%;
    }


    .minTopUl ul li a {
        text-decoration: none;
        color: #a9a9aa;
    }


    .minTopUl ul li .liItem {
        display: grid;
        grid-template-columns: 4.9px auto;
        gap: 10px;
        width: 100%;
        border: 1px solid #a9a9aa;
    }


    .minTopUl .svgCon {
        display: flex;
        align-items: center;
    }


    .minTopUl .li svg {
        display: none;
        width: 4px;
        height: 8px;
    }

    /* Mobile Menu Button */

    .minTopUlbtn {
        float: right;
        width: 49px;
        height: 49px;
        border: none;
        background: none;
    }

    .minTopUlClosingbtn {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 49px;
        height: 49px;
        border: none;
        background: none;
        color: #a9a9aa;
    }

    /*------------------------------------*\
      #BOTTOM
    \*------------------------------------*/

    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 40px 10px 20px;
    }

    .bottom li {
        float: right;
        margin: 20px 4.9px 10px 0;
    }

    /* Copyright Sign */
    .copyrightsign {
        font-size: 2rem;
    }

    /* Github SVG */
    .bottom img {
        width: 29px;
        height: 29px;
        filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(88deg) brightness(105%) contrast(100%);
    }

    /* LinkedIn SVG */
    .bottom .lin img {
        width: 40px;
        height: 40px;
        margin: -4.9px 0 0 0;
    }

    .bottom img:active {
        filter: invert(95%) sepia(6%) saturate(65%) hue-rotate(202deg) brightness(85%) contrast(89%);
    }

    /*------------------------------------*\
      #GRID
    \*------------------------------------*/

    .grid {
        display: grid;
        grid-template-rows: 100vh 100vh 100vh auto auto auto;
        gap: 0;
        width: 100vw;
        overflow: hidden;
    }

    .col {
        min-height: 10vh;
        overflow: hidden;
    }

    /*------------------------------------*\
      #POSTGRID
    \*------------------------------------*/

    /* Grid for showing posts */

    .postGrid {
        width: calc(100vw - 120px);
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        gap: 0;
        align-items: center;
        justify-items: center;
        margin: 0 auto;
        padding: 0 0 100px 0;
        overflow: visible;
    }

    /* Posts */

    .post {
        width: 100%;
        aspect-ratio: 10/4;
        font-size: 0.9rem;
        transition: transform 0.4s ease;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.6s ease, transform 0.6s ease;
        margin: 0 auto;
    }

    .post h2 {
        font-weight: 700;
        font-size: 1rem;
    }

    .post a {
        text-decoration: none;
    }

    .post.show {
        opacity: 1;
        transform: translateY(0);
    }

    .post video {
        width: 100%;
        height: 70%;
        margin: 0 0 7px 0;
        object-fit: fill;
    }


    /* Github Link SVG */

    .postCon {
        display: flex;
    }

    .postIconCon {
        display: flex;
    }

    .postIconCon img {
        width: 22px;
        height: 22px;
        filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(88deg) brightness(105%) contrast(100%);
        margin: -4px 0 0 4.9px;
    }

    /*------------------------------------*\
      #INTRO
    \*------------------------------------*/

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70vw;
        font-family: 'SF Pro Thin';
        margin: 0 auto;
    }

    .intro h1 {
        font-size: 2rem;
    }

    /*------------------------------------*\
      #OUTRO
    \*------------------------------------*/

    .outro {
        width: calc(100vw - 120px);
        font-family: 'SF Pro Thin';
        font-size: 1.4rem;
        margin: 0 auto;
        padding: 0 0 100px 0;
    }


    /* Outro Button Group */

    .outro .buttonGroup {
        margin: 4px 0;
    }

    /*------------------------------------*\
      #ME
    \*------------------------------------*/

    /* ME Section font */

    .me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70vw;
        margin: 0 auto;
    }

    .me h1 {
        font-family: 'SF Pro';
        font-size: 1.4rem;
        font-weight: 500;
    }

    .me p {
        font-family: 'SF Pro';
        font-size: 1.1rem;
        margin: 20px 0 0 0;
    }

    .me a {
        text-decoration: underline;
    }

    .me a:active {
        color: rgba(255, 255, 255, 0.4);
    }

    /*------------------------------------*\
      #SKILLGRID
    \*------------------------------------*/

    .skillGrid {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        align-items: center;
        justify-content: center;
        width: 70vw;
        margin: 0 auto;
    }

    .skillGrid h2 {
        font-size: 1rem;
        font-weight: 400;
        margin: 0 0 10px 0;
    }

    .skillTopGrid {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }

    .skillTopGridCol {
        width: 100%;
        border: 1px solid #ffffff;
        border-radius: 20px;
        background-color: #9f9fa1;
        color: #ffffff;
        padding: 20px;
    }

    .codinghours h1 {
        font-size: 4rem;
        margin: -20px 0 0 0;
    }

    .skillBottomRow {
        position: relative;
        width: 100%;
        border: 1px solid #ffffff;
        border-radius: 20px;
        color: #ffffff;
        padding: 20px;
        overflow: visible;
    }

    .skillList {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 20px 0 0 -10px;
    }

    .skillListItem {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        height: 20px;
        font-size: 0.7rem;
        font-weight: 500;
        border-radius: 20px;
        background-color: #ffffff;
        color: #9f9fa1;
        padding: 0 10px;
        margin: 0 0 10px 10px;
    }

    .skillGrid ul {
        margin: 0 0 20px 0;
    }

    .skillGrid li {
        font-size: 0.9rem;
        margin: 7px 0 0 0;
    }

    .skillGrid .liItem {
        display: grid;
        grid-template-columns: 4.9px auto;
        gap: 10px;
        width: 100%;
        border: 1px solid #a9a9aa;
    }

    .skillGrid .liItem svg {
        width: 4px;
        height: 8px;
    }

    .skillGrid .svgCon {
        display: flex;
        align-items: center;
    }

    /*------------------------------------*\
      #EFFECTS
    \*------------------------------------*/

    /* Jump effect on scroll */

    .jump {
        transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
        will-change: transform;
    }


    /* Button Group follow cursor effect for button in (Intro, Outro) section */

    .buttonGroup {
        display: flex;
        gap: 20px;
        width: fit-content;
        margin: 10px 0;
    }

    .buttonGroup button {
        position: relative;
        height: 44px;
        border: 1px solid #a9a9aa;
        border-radius: 20px;
        background-color: #ffffff;
        color: #a9a9aa;
        padding: 10px 40px;
        cursor: pointer;
        overflow: hidden;
        transition: transform 0.2s ease-out, color 0.3s ease-out;
        z-index: 1;
    }

    .buttonGroup button span {
        display: inline-block;
        position: relative;
        transition: transform 0.1s ease-out, color 0.3s ease-out;
        z-index: 2;
    }

    /* Flying circle */
    .circle {
        position: absolute;
        bottom: -40px;
        left: 50%;
        width: 10px;
        height: 10px;
        background-color: #c7c7c9;
        border-radius: 50%;
        transform: translateX(-50%) translateY(100%) scale(0);
        transition: transform 0.4s ease-out, width 0.4s ease-out, height 0.4s ease-out;
        z-index: 1;
    }

    /* Hover effect */
    .buttonGroup button:active .circle {
        transform: translateX(-50%) translateY(0) scale(8);
        width: 150px;
        height: 150px;
    }

    .buttonGroup button:active {
        color: #ffffff;
    }

    /*------------------------------------*\
      #HELPERS
    \*------------------------------------*/

    a {
        color: #ffffff;
        cursor: pointer;
    }

    ul {
        list-style-type: none;
    }

}

/* XL */
@media screen and (min-width: 800px) {

    /*------------------------------------*\
      #TOP
    \*------------------------------------*/

    /* TOP Section (Logo, Menu) */

    .top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #9f9fa1;
        padding: 20px;
        z-index: 100;
    }

    .top a {
        text-decoration: none;
    }


    /* Desktop Menu */

    .top ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
    }

    .top ul li:hover svg {
        display: block;
    }

    .top ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
        min-height: 49px;
        margin: 20px;
        transition: transform 0.2s ease-out;
    }

    .top ul li svg {
        display: none;
        width: 4px;
        height: 8px;
        margin-top: 7px;
    }

    .top ul li.show svg {
        display: inline-block;
        transition: transform 0.2s ease-out;
    }


    /* Mobile Menu */

    .minTopUl {
        display: none;
    }

    .minTopUlbtn {
        display: none;
    }

    /*------------------------------------*\
      #BOTTOM
    \*------------------------------------*/

    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 20px 10px 40px;
    }

    .bottom li {
        float: right;
        margin: 20px 4.9px 0 0;
    }

    /* Copyright Sign */
    .copyrightsign {
        font-size: 2rem;
    }

    /* Github SVG */
    .bottom img {
        width: 29px;
        height: 29px;
        filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(88deg) brightness(105%) contrast(100%);
    }

    /* LinkedIn SVG */
    .bottom .lin img {
        width: 40px;
        height: 40px;
        margin: -4.9px 0 0 0;
    }

    .bottom img:hover {
        filter: invert(95%) sepia(6%) saturate(65%) hue-rotate(202deg) brightness(85%) contrast(89%);
    }

    /*------------------------------------*\
      #GRID
    \*------------------------------------*/

    .grid {
        display: grid;
        grid-template-rows: 100vh 100vh 100vh auto auto auto;
        gap: 0;
        width: 100vw;
        overflow: hidden;
    }

    .col {
        min-height: 10vh;
        overflow: hidden;
    }

    /*------------------------------------*\
      #POSTGRID
    \*------------------------------------*/

    /* Grid for showing posts */

    .postGrid {
        width: 70vw;
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        gap: 100px;
        align-items: center;
        justify-items: center;
        margin: 0 auto;
        padding: 0 0 100px 0;
        overflow: visible;
    }

    /* Post */
    .post {
        width: 100%;
        aspect-ratio: 10/4;
        font-size: 0.9rem;
        transition: transform 0.4s ease;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.6s ease, transform 0.6s ease;
        margin: 0 auto;
    }

    .post h2 {
        font-weight: 700;
        font-size: 1rem;
    }

    .post a {
        text-decoration: none;
    }

    .post.show {
        opacity: 1;
        transform: translateY(0);
    }

    .post:hover {
        transform: scale(1.02);
    }

    .post video {
        width: 100%;
        height: 70%;
        margin: 0 0 7px 0;
        object-fit: fill;
    }


    /* Github Link SVG */

    .postCon {
        display: flex;
    }

    .postIconCon {
        display: flex;
    }

    .postIconCon img {
        width: 22px;
        height: 22px;
        filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(88deg) brightness(105%) contrast(100%);
        margin: -4px 0 0 4.9px;
    }


    /* Post Cursor effect */

    .post:hover .cursor {
        width: 10px;
        height: 10px;
        background: none;
        border: 2px solid #ffffff;
        border-radius: 20px;
        transform: translate(-50%, -50%) scale(1.1);
        transition: transform 0.4s ease, width 0.4s ease, height 0.4s ease;
        z-index: 10000;
        cursor: pointer;
    }

    .postCursorCon {
        position: fixed;
        display: none;
        align-items: center;
        gap: 4px;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        z-index: 99999;
    }

    .postCursorToolTip {
        font-size: 1.4rem;
        color: #9f9fa1;
        border-radius: 5px;
        padding: 4.9px 10px;
        white-space: nowrap;
        transition: opacity 0.2s ease-in-out;
    }

    .postCursor {
        height: 10.9vh;
        aspect-ratio: 4/10;
        border: 2px solid #9f9fa1;
        border-radius: 20px;
        pointer-events: none;
        transition: transform 0.2s ease-in-out;
    }

    /*------------------------------------*\
      #INTRO
    \*------------------------------------*/

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70vw;
        margin: 0 auto;
    }

    .intro h1 {
        font-family: 'SF Pro Thin';
        font-size: 2.9rem;
    }

    /*------------------------------------*\
      #OUTRO
    \*------------------------------------*/

    .outro {
        width: 70vw;
        font-family: 'SF Pro Thin';
        font-size: 1.4rem;
        margin: 0 auto;
        padding: 0 0 100px 0;
    }

    .outro .buttonGroup {
        margin: 4px 0;
    }

    /*------------------------------------*\
      #ME
    \*------------------------------------*/

    .me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70vw;
        margin: 0 auto;
    }


    /* Me Section font */

    .me h1 {
        font-family: 'SF Pro';
        font-size: 1.4rem;
        font-weight: 500;
    }

    .me p {
        font-family: 'SF Pro';
        font-size: 1rem;
        margin: 40px 0 0 0;
    }

    .me a {
        text-decoration: underline;
    }

    .me a:hover {
        color: rgba(255, 255, 255, 0.4);
    }

    /*------------------------------------*\
      #SKILLGRID
    \*------------------------------------*/

    .skillGrid {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        width: 70vw;
        height: 70vh;
        margin: 0 auto;
    }

    .skillGrid h2 {
        font-size: 1.2rem;
        font-weight: 400;
        margin: 0 0 10px 0;
    }

    .skillTopGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .skillTopGridCol {
        border: 1px solid #ffffff;
        border-radius: 20px;
        background-color: #9f9fa1;
        color: #ffffff;
        padding: 20px;
    }

    .codinghours h1 {
        font-size: 4rem;
        margin: -20px 0 0 0;
    }

    .skillBottomRow {
        position: relative;
        border: 1px solid #ffffff;
        border-radius: 20px;
        color: #ffffff;
        padding: 20px;
    }

    .skillList {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 20px 0 0 0;
    }

    .skillListItem {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 49px;
        height: 20px;
        font-size: 0.7rem;
        font-weight: 500;
        border-radius: 20px;
        background-color: #ffffff;
        color: #9f9fa1;
        padding: 0 10px;
        margin: 0 0 0 10px;
    }

    .skillGrid ul {
        margin: 0 0 20px 0;
    }

    .skillGrid li {
        font-size: 0.9rem;
        margin: 7px 0 0 0;
    }

    .skillGrid .liItem {
        display: grid;
        grid-template-columns: 4.9px auto;
        gap: 10px;
        width: 100%;
    }

    .skillGrid .svgCon {
        display: flex;
        align-items: center;
    }

    .skillGrid .liItem svg {
        width: 4px;
        height: 8px;
    }


    /*------------------------------------*\
      #CURSOR
    \*------------------------------------*/

    .cursor {
        position: fixed;
        left: 0;
        top: 0;
        height: 7vh;
        aspect-ratio: 4/10;
        border-radius: 20px;
        background-color: #ffffff;
        pointer-events: none;
        z-index: 99999;
        transition: transform 0.2s ease-out;
    }

    /*------------------------------------*\
      #EFFECTS
    \*------------------------------------*/

    /* Jump effect on scroll */

    .jump {
        transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
        will-change: transform;
    }


    /* Button Group follow cursor effect */

    .buttonGroup {
        display: flex;
        gap: 20px;
        width: fit-content;
        margin: 10px 0;
    }

    .buttonGroup button {
        position: relative;
        height: 40px;
        border: 1px solid #a9a9aa;
        border-radius: 20px;
        background-color: #ffffff;
        color: #a9a9aa;
        padding: 10px 40px;
        cursor: pointer;
        overflow: hidden;
        transition: transform 0.2s ease-out, color 0.3s ease-out;
        z-index: 1;
    }

    .buttonGroup button span {
        display: inline-block;
        position: relative;
        transition: transform 0.1s ease-out, color 0.3s ease-out;
        z-index: 2;
    }

    /* Flying circle */
    .circle {
        position: absolute;
        bottom: -40px;
        left: 50%;
        width: 10px;
        height: 10px;
        background-color: #c7c7c9;
        border-radius: 50%;
        transform: translateX(-50%) translateY(100%) scale(0);
        transition: transform 0.4s ease-out, width 0.4s ease-out, height 0.4s ease-out;
        z-index: 1;
    }

    /* Hover effect */
    .buttonGroup button:hover .circle {
        transform: translateX(-50%) translateY(0) scale(8);
        width: 150px;
        height: 150px;
    }

    .buttonGroup button:hover {
        color: #ffffff;
    }

    /*------------------------------------*\
      #HELPERS
    \*------------------------------------*/

    a {
        color: #ffffff;
        cursor: pointer;
    }

    ul {
        list-style-type: none;
    }

}